#navigation {
    position: absolute;
    width: 100%;
    padding: 20px;
    background-color: rgb(15, 15, 15);
    margin-bottom: 20px;
}

#content {
    position: relative;
    top: 108px;
    padding: 100px;
    float: left;
}

#clock {
    float: right;
    padding: 100px;
}

.logo {
    color: white;
    text-decoration: bold;
    padding: 25px;
}

.searchbar {
    width: 500px;
    height: 20px;
    float: left;
    border-radius: 4px;
}

.searchbar input {
    width: 378px;
    height: 20px;
    padding: 10px 5px;
    float: left;
}

.searchbar button {
    position: relative;
    border: 0;
    padding: 0;
    height: 41px;
    width: 110px;
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;   
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   

h1 {
    font-family: sans-serif;
    padding: 20px;
    text-decoration: bold;
}